.main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background-color: #f0f0f0;
}

.todo-container{
  display: flex;
  flex-direction: column;
}

.todo-container, .lista-container {
  width: 45%;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  position: relative;
}

.todo-container::before, .lista-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  height: 100%;
  background-image: linear-gradient(to bottom, #ccc 1px, transparent 1px);
  background-size: 100% 30px;
  z-index: -1;
}

.todo-container::after, .lista-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background-image: linear-gradient(to right, #ccc 1px, transparent 1px);
  background-size: 30px 100%;
  z-index: -1;
}

button {
  margin: 5px;
  padding: 15px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

button:hover {
  background-color: #0056b3;
}
